EquimarFac/Service References/TimbradoFel2015/WSTFD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WSTFD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="soapHttpEndpointHttps_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://timbrado.facturarenlinea.com/WSTFD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://timbrado.facturarenlinea.com/WSTFD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://timbrado.facturarenlinea.com/WSTFD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TES.TFD.Negocios" />
      <xsd:import schemaLocation="https://timbrado.facturarenlinea.com/WSTFD.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSTFD_TimbrarCFDI_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCFDI" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_TimbrarCFDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_CancelarCFDI_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDI" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_CancelarCFDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_TimbrarCFDTestSectorPrimario_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCFDTestSectorPrimario" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_TimbrarCFDTestSectorPrimario_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCFDTestSectorPrimarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPDF" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerAcuseEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAcuseEnvio" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerAcuseEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAcuseEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerAcuseCancelacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAcuseCancelacion" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerAcuseCancelacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAcuseCancelacionResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_CambiarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_CambiarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarComplementoTimbre_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarComplementoTimbre" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarComplementoTimbre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarComplementoTimbreResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarTimbrePorReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTimbrePorReferencia" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarTimbrePorReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTimbrePorReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarCreditos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCreditos" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarCreditos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCreditosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarComprobantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarComprobantes" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultarComprobantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarComprobantesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerPaquetesClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaquetesClientes" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ObtenerPaquetesClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaquetesClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultaEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstado" />
  </wsdl:message>
  <wsdl:message name="IWSTFD_ConsultaEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSTFD">
    <wsdl:operation name="TimbrarCFDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/TimbrarCFDI" message="tns:IWSTFD_TimbrarCFDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/TimbrarCFDIResponse" message="tns:IWSTFD_TimbrarCFDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/CancelarCFDI" message="tns:IWSTFD_CancelarCFDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/CancelarCFDIResponse" message="tns:IWSTFD_CancelarCFDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDTestSectorPrimario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/TimbrarCFDTestSectorPrimario" message="tns:IWSTFD_TimbrarCFDTestSectorPrimario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/TimbrarCFDTestSectorPrimarioResponse" message="tns:IWSTFD_TimbrarCFDTestSectorPrimario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ObtenerPDF" message="tns:IWSTFD_ObtenerPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ObtenerPDFResponse" message="tns:IWSTFD_ObtenerPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ObtenerAcuseEnvio" message="tns:IWSTFD_ObtenerAcuseEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ObtenerAcuseEnvioResponse" message="tns:IWSTFD_ObtenerAcuseEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseCancelacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ObtenerAcuseCancelacion" message="tns:IWSTFD_ObtenerAcuseCancelacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ObtenerAcuseCancelacionResponse" message="tns:IWSTFD_ObtenerAcuseCancelacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/CambiarPassword" message="tns:IWSTFD_CambiarPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/CambiarPasswordResponse" message="tns:IWSTFD_CambiarPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComplementoTimbre">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ConsultarComplementoTimbre" message="tns:IWSTFD_ConsultarComplementoTimbre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ConsultarComplementoTimbreResponse" message="tns:IWSTFD_ConsultarComplementoTimbre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTimbrePorReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ConsultarTimbrePorReferencia" message="tns:IWSTFD_ConsultarTimbrePorReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ConsultarTimbrePorReferenciaResponse" message="tns:IWSTFD_ConsultarTimbrePorReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCreditos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ConsultarCreditos" message="tns:IWSTFD_ConsultarCreditos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ConsultarCreditosResponse" message="tns:IWSTFD_ConsultarCreditos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarComprobantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ConsultarComprobantes" message="tns:IWSTFD_ConsultarComprobantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ConsultarComprobantesResponse" message="tns:IWSTFD_ConsultarComprobantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaquetesClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ObtenerPaquetesClientes" message="tns:IWSTFD_ObtenerPaquetesClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ObtenerPaquetesClientesResponse" message="tns:IWSTFD_ObtenerPaquetesClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSTFD/ConsultaEstado" message="tns:IWSTFD_ConsultaEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSTFD/ConsultaEstadoResponse" message="tns:IWSTFD_ConsultaEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soapHttpEndpoint" type="tns:IWSTFD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarCFDI">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/TimbrarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/CancelarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDTestSectorPrimario">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/TimbrarCFDTestSectorPrimario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseEnvio">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerAcuseEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseCancelacion">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerAcuseCancelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/CambiarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComplementoTimbre">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarComplementoTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTimbrePorReferencia">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarTimbrePorReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCreditos">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComprobantes">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaquetesClientes">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerPaquetesClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstado">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultaEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="soapHttpEndpointHttps" type="tns:IWSTFD">
    <wsp:PolicyReference URI="#soapHttpEndpointHttps_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarCFDI">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/TimbrarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/CancelarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDTestSectorPrimario">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/TimbrarCFDTestSectorPrimario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseEnvio">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerAcuseEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAcuseCancelacion">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerAcuseCancelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/CambiarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComplementoTimbre">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarComplementoTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTimbrePorReferencia">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarTimbrePorReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCreditos">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComprobantes">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultarComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaquetesClientes">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ObtenerPaquetesClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstado">
      <soap:operation soapAction="http://tempuri.org/IWSTFD/ConsultaEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTFD">
    <wsdl:port name="soapHttpEndpoint" binding="tns:soapHttpEndpoint">
      <soap:address location="http://timbrado.facturarenlinea.com/WSTFD.svc" />
    </wsdl:port>
    <wsdl:port name="soapHttpEndpointHttps" binding="tns:soapHttpEndpointHttps">
      <soap:address location="https://timbrado.facturarenlinea.com/WSTFD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>